<!DOCTYPE html >
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>德商-所有分类</title>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile_css/index.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile_css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap-3.3.7/css/bootstrap.css"/>
<script src="__PUBLIC__/mobile_js/jquery.js"></script>
<script src="__PUBLIC__/mobile_js/jquery.json.js"></script>
<script src="__PUBLIC__/mobile_js/layer.js"></script>
<script src="__PUBLIC__/mobile_js/TouchSlide.1.1.js"></script>
<script src="__PUBLIC__/mobile_js/touchslider.dev.js"></script>
<script src="__PUBLIC__/bootstrap-3.3.7/js/bootstrap.js"></script>
</head>
<style type="text/css">
.primarylist .col-xs-6{width: 24%;background-color:#FFFFFF; text-align:center;margin:8px 1px 8px 1px;padding-bottom:5px;}
.primarylist .col-xs-6 .img-rounded{width: 100%;}
</style>
<body style="background-color:#EAEAEA; ">
<include file="Public/header"/>
<div class="row primarylist">
	<for start="1" end="16">
		<div class="col-xs-6 col-sm-3">
			<img  class="img-rounded" src="__PUBLIC__/images/1440439318451279676.png"/>
			<span>女装</span>
		</div>
	</for>
	

</div>
<include file="Public/footer"/>
</body>
</html> 